.hero{
	text-align:center;
	background-image:url("../img/hospital.jpg");
	background-size:cover;
	background-position:center;
	display:flex;
	align-items:center;
	justify-content:center;
	flex-direction:column;
	min-height:49rem;
	padding-top:10rem;
	padding-bottom:10rem;
	margin-bottom:3.5rem;
	box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
	
	h1{
		font-size:9rem;
		color:$red;
		max-width:75rem;
	}
}

@media all and (max-width: 840px){
	.hero{
		min-height:325px;
		h1{
			font-size:70px;
		}
	}
}
@media all and (max-width: 600px){
	.hero{
		min-height:250px;
		h1{
			font-size:55px;
		}
	}
}
@media all and (max-width: 500px){
	.hero{
		min-height:250px;
		h1{
			font-size:48px;
		}
	}
}

