//Colors//

$black: #303B41;
$red: #AD122A;
$tan: #F8F5F4;
$gray: #DCDDDF;

//Default Sizes//

$max-col-width: 1640px;
$column-gutter: 5.5rem;
 
//Fonts//
$masqualero: masqualero, serif;
$roboto: 'Roboto', sans-serif;